<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/TAE  KOOK/IdeaProjects/seleniummaven">
        <classes>
            <class name="first.BasicTestCase">
                <methods>

                    <include name="TestCheck"/>
                </methods>
            </class>
            <class name="first.Findelements"/>
            <class name="first.TestNGwindows"/>
        </classes>
    </test>
</suite>